{% extends 'base-front.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
  <div class="container">

    {% include 'common/_breadcrumb.html.twig' with {
        'create':true
    } %}

  <h1>Création de compte</h1>
    {% include 'common/form.html.twig' %}
  </div>
{% endblock %}
