{% extends 'base.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}


{% block body %}

<div class="container py-5">
    <div class="row">
        <h2 class="my-5"> Nos derniers jeux : </h2>   
        {% for game in lastPublishedGames  %}
            <div class="gameContainer mx-5 col-4">
                {% include 'games/cardView.html.twig' %}
            </div>
        {% endfor %}    
    </div>
</div>

<div class="dark">
    <div class="container row mx-auto py-5">
        <h2 class="my-5"> Les plus joués : </h2>
        {% for game in mostGamePlayed  %}
            <div class="gameContainer mx-5 col-4">
                    {% include 'games/cardView.html.twig' %}
                </div>
        {% endfor %}
    </div>
</div>

<div class="container row mx-auto py-5">
    <h2 class="my-5"> Les derniers avis : </h2>
    {% for comment in lastComments  %}
        <div class="my-3 mx-3 col-3 commentContainer">
            <h5> {{comment.game.name}} :</h5>
            <p> le {{comment.createdAt | date('d/m/Y')}} par <span class="orange">{{comment.account.nickname}}</span></p>
            <p>{{comment.content}}</p>
        </div>
    {% endfor %}
</div>

<div class="dark">
    <div class="container row mx-auto py-5">
        <h2 class="my-5"> Top de ventes : </h2>
        {% for game in mostBoughtGame  %}
            <div class="gameContainer mx-5 col-4">
                    {% include 'games/cardView.html.twig' %}
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}