{% extends 'base.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}


{% block body %}

<div class="row">
   <h2> Nos derniers jeux: </h2>
        
        {% for game in lastPublishedGames  %}
            <div class="col-4">
                {% include 'games/cardView.html.twig' %}
            </div>
        {% endfor %}
        
</div>

<div class="row mx-auto">
   <h2> Les dernier commentaires: </h2>
    {% for comment in lastComments  %}
        <div>
            {{comment.createdAt | date('d/m/Y')}}
            {{comment.content}}
        </div>
    {% endfor %}
</div>
  
{% endblock %}