{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container mx-auto">

    {% include 'common/_breadcrumb.html.twig' with {
        'isGenre':true,
        'show':true
    } %}


        <h2>{{slug}}</h2>
        <div class="row">
            {% for game in gameDetail %}
                <div class="col-3 py-5">
                    {% include 'games/cardView.html.twig' %}
                </div>
            {% endfor %}
        </div>
    

</div>

{% endblock %}
