@import 'variables';

.cardContainer {
    width: 200px;
    height: 300px;
    position: relative;
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.imageContainer {
    width: 100%;
    height: 100%;

    >img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

.reductionContainer {
    width: 2.5rem;
    height: 2rem;
    color: antiquewhite;
    background-color: $or_bg;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: -5px;
    right: -5px;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.2rem;
}