@import 'variables';

.commentContainer {

    background-color: rgba(16, 16, 16, 0.5);
    height: 200px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    padding-right: 37px;


    h5 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}

.orange {
    color: $or_bg;

    &.link {
        &:hover {
            color: lighten($or_bg, 20%);
        }
    }
}

.dark {
    width: 100%;
    background-color: rgba(16, 16, 16, 0.3);
}



// .sousBanniere {
//     background-color: $or_bg;
//     height: 5rem;
//     display: flex;
//     justify-content: space-around;

// }

.thumbContainer {
    width: 100%;
    height: 500px;

    >img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}