@import 'variables';

.orange {
    color: $or_bg;
}

.commentContainer {
    background-color: $dg-bg;
    border-radius: 20px;
}

// .sousBanniere {
//     background-color: $or_bg;
//     height: 5rem;
//     display: flex;
//     justify-content: space-around;

// }