@import 'variables';

.commentContainer {

    background-color: rgba(16, 16, 16, 0.5);
    border-radius: 20px;
    width: 237px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    padding-right: 37px;


    h5 {
        font-size: 1.2rem;
    }

    .orange {
        color: $or_bg;
    }

    p {
        font-size: 0.8rem;
    }
}

.gameContainer {
    width: 250px;
}

.dark {
    width: 100%;
    background-color: rgba(16, 16, 16, 0.3);
}



// .sousBanniere {
//     background-color: $or_bg;
//     height: 5rem;
//     display: flex;
//     justify-content: space-around;

// }