
<div class="my-3 breadCrumbDiv">
    {% if home is defined %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
    </nav>
    {% elseif game is defined %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Jeux</li>
        {% if show is defined %}
        <li class="breadcrumb-item active" aria-current="page">{{gameDetail.name}}</li>
        {% endif %}
    </ol>
    </nav>
    {% elseif account is defined %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Account</a></li>
        {% if show is defined %}
        <li class="breadcrumb-item active" aria-current="page">{{account.name}}</li>
        {% endif %}
    </ol>
    </nav>
    {% elseif publisher is defined %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Publisher</a></li>
        {% if show is defined %}
        <li class="breadcrumb-item active" aria-current="page">{{publisher.name}}</li>
        {% endif %}
    </ol>
    </nav>
    {% elseif genre is defined %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Genre</a></li>
        {% if show is defined %}
        <li class="breadcrumb-item active" aria-current="page">{{genre.name}}</li>
        {% endif %}
    </ol>
    </nav>
    {% endif %}
</div>