{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Steamishv3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{{path('st_games')}}">Jeux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{path('app_publisher')}}">Publishers</a>
        </li>
      </ul>
        <form class="d-flex mx-5">
          <input class="form-control me-2 pr-3" type="text" placeholder="rechercher" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a href="{{path('app_user_create')}}"><button class="btn btn-warning">
              Inscription
          </button></a>
      {# Searchbar anthony #}
      {# <div class="d-flex">
        <form class="d-flex">
           {{% include('common/form.html.twig') %}}
        </form>
      </div> #}
    </div>
  </div>
</nav>
{# <div class="sousBanniere">
    <p> PC </p>
    <p> XBOX</p>
    <p>Playstation</p>
</div> #}
{% endblock %}