{% extends 'base.html.twig' %}

{% block body %}
    <div id="cardContainer" class="col-lg-3">
        <div id="imgContainer">
            <img src="{{game.thumbnailCover}}">
        </div>
    </div>
{% endblock %}