    <a href="{{ path('app_game_detail, {slug:game.slug}') }}">
        <div class="cardContainer mx-2 my-3">

            <div class="imageContainer">
                <img src="{{game.thumbnailCover}}">
            </div>
            <div class="reductionContainer">
                <p>{{game.price}}€</p>
            </div>

        </div>
    </a>
    