<a href="{{ path('st_games', {slug:game.slug}) }}">
    <div class="cardContainer">
        <div class="imageContainer">
            <img src="{{game.thumbnailCover}}">
        </div>
        <div class="reductionContainer">
            <p>{{game.price}}€</p>
        </div>
    </div>
    <p class="text-center mt-2">{{game.name}}</p>
</a>
    
    