    
        <div class="cardContainer mx-2 my-3">

            <div class="imageContainer">
                <img src="{{game.thumbnailCover}}">
            </div>
            <div class="reductionContainer">
                <p>-40%</p>
            </div>

        </div>
    