{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}

   <div class="row">
   {% for game in gameEntities %}
   
    {% include 'games/cardView.html.twig' %}

   {% endfor %}
   </div>

{% endblock %}
