{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}


<div class="container">
   <div class="row">
      {% for game in gameEntities %}
         <div class="col-3">
         {% include 'games/cardView.html.twig' %}
         </div>
      {% endfor %}
   </div>
</div>

{% endblock %}
