{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}


<div class="container">

{% include 'common/_breadcrumb.html.twig' with {
   'game':true
} %}


<h2 class="my-5">{{'home.menu.games'|trans}}</h2>
   <div class="row">
      {% for game in gameEntities %}
         <div class="col-3">
         {% include 'games/cardView.html.twig' %}
         </div>
      {% endfor %}
   </div>
</div>

{% endblock %}
