


{% extends 'base-front.html.twig' %}

{% block body %}
<h1>{{pagination.getTotalItemCount}}</h1>
    {% for account in pagination %}
        <p>{{account.name}}</p>
        
    {% endfor %}

<div class ="pagination">
{{knp_pagination_render(pagination)}}
</div>
{% endblock %}