{% extends 'base.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block body %}

    <div class="container">

        <table class="table table-dark table-striped my-3">
            <thead class="text-center">
                <tr>
                    <th class="py-3">Pseudo</th>
                    <th class="py-3">Nom</th>
                    <th class="py-3">Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
            {% for user in users %}
                <tr>
                    <td class="py-3">{{user.nickname}}</td>
                    <td class="py-3">{{user.name}}</td>
                    <td class="py-3">{{user.email}}</td>
                    <td class="py-3"> <a href="{{ path('app_user_edit', {name:user.name}) }}"><i class="fa-solid fa-pen"></i></a></td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}